@model IList<SDW.WebServiceJogo.MVC.Models.ClassificacaoVestuario>
@{
    ViewBag.Title = "Listar";
}


<h2>Listar Classificação</h2>
@Helper.Mensagem(@TempData["msg"])
<div class="table table-striped">
    <table>
        <tr>
            <th>Codigo</th>
            <th>Descricao</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClassificacaoVestuarioId</td>
                <td>@item.Descricao</td>
            </tr>
        }
    </table>
</div>

